/*  Top three services front page */

.pTopThree{
    padding-left: 2em;
    padding-right: 2em;
    margin-top: -1em;
    margin-bottom: 2.5em;  
    font-size: 1em;
}
.tTopThree{
    font-size: 1em;
    padding-top: 3em;
}

.top-three {
    display: flex;
    flex-direction: row;
    margin-left: 3.8em;
    margin-right: 4.8em;
    margin-top: -8em;
    z-index: 10;

}
.top-three-div{
    background-color: white;
    text-align: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-left: 1em;
    margin-right: 1em;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.2);
}

#quality{
    padding-top: 3em;
    margin-bottom: -3em;
}
#delivery{
    padding-top: 4em;
    margin-bottom: -3em;
}
#recipes{
    padding-top: 3em;
    margin-bottom: -3em;
}


/* Our Story The chef */
p{
    font-size: 0.8em;
    padding-top: 1.5em;
}


.theChef{
    display: flex;
    flex-direction: row;
    margin-top: 6em;
    /* margin-bottom: 2em; */

}
.ourStory{
    background-color:white;
    margin-right: 10em;
    margin-bottom: 1em;
    margin-left: 31em;
    margin-top: 8em;
    position: absolute;
    /* /* margin-bottom: 10em;
    z-index: 1; */
  
    padding-left: 5em;
    padding-top: 2em;
    padding-right: 4em;
    padding-bottom: 2em;
    z-index: 12;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.2); 
}
.discover{
    font-size: 2em;
    margin-top: 6em;
}
.ultimate{
    font-size: 0.8;
    font-weight: bold;
}
.story{
    font-size: 2em;
    font-weight: bold;
    margin-top: -1em;
}
.chef{
    font-size: 2.5em;
}

.imageChef{
    margin-left: 4.8em;
    margin-left: 5em;
    z-index: 11;
    background-size: cover;
    width: 572px;
    height: 572px;
    padding-bottom: 5em;
}


/* Three resto + description style */
.containerOurResto {
    background-image: url(http://localhost/CMS-Restaurant/wp-content/uploads/2021/01/burger-party1.png);
    background-repeat: repeat;
    font-family: Helvetica, Arial, sans-serif;
    color: 292929;
}
h2{
    font-size: 2em;
}
h3{
    padding-top: 0.5em;
    font-size: 2em;
}
h4{
    font-size: 1.5em;
    padding-top: 1.6em;
}
h6{
    padding-top: 4em;
}
.title {
    text-align: center;
    padding-bottom: 3em;
    padding-top: 3em;
}

.containThreeResto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.resto {
    display: flex;
    flex-direction: row;
    padding-bottom: 2em;
}
.restoDescriptionRight {
    background-color: white;
    text-align: center;
    width: 40%;
    margin-left: -14em;
    margin-top: 3em;
    /* margin-right: 5em; */
    margin-bottom: 6em;
    padding-top: 3em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    padding-bottom: -6em;

}
.restoDescriptionLeft1 {
    background-color: white;
    text-align: center;
    position: absolute;
    z-index: 2;
    width: 40%;
    /* margin-right: -8em; */
    margin-top: 3.5em;
    margin-bottom: 6em;
    margin-left: 5em;
    padding-bottom: 2em;
    padding-top: 2em;
}
.restoDescriptionLeft2 {
    background-color: white;
    text-align: center;
    position: absolute;
    z-index: 2;
    width: 40%;
    /* margin-right: -10em; */
    margin-top: 3em;
    margin-bottom: 6em;
    margin-left: 5.3em;
    padding-bottom: 2em;
    padding-top: 2em;
}

.imageRight1{
    /* margin-right: 5em; */
    margin-left: -4.5em;
    width: 60%;
    padding-bottom: 3em;
    padding-left: 39em;
    padding-right: 4em;
    /* padding-right: -2em; */
}
.imageRight2{
    /* margin-right: 5em; */
    width: 60%;
    padding-bottom: 3em;
    padding-left: 34.2em;
    /* padding-right: -2em; */
}
.imageLeft{
    width: 60%;
    float: left;
    margin-left: 5.2em;
    padding-bottom: 3em;
}
#resto1{
    background-size: cover;
    width: 572px;
    height: 572px
}
#resto2{
    background-size: cover;
    width: 572px;
    height: 572px
}
#resto3{
    background-size: contain;
    width: 572px;
    height: 572px
}
.buttonMore {
    background-color: #323232;
    color: white;
    font-weight: bolder;
    border: none;
    margin-top: 2.8em;
    margin-bottom: 2em;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Page resto1 */
.containerResto{
    background-color: f5f5f5;
}
.resto1Description{
    display: flex;
    flex-direction: row;
}
.resto1Text{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding-left: 1em;
    text-align: center;
}

#resto1DescImg{
    background-size: contain;
    width: 572px;
    height: 572px
}
#resto1PlateImg{
    background-size: contain;
    width: 572px;
    height: 572px
}
/* Google Maps Location */
#locationResto1{
    width:100%
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

