a#cRetour{
  border-radius: 10%;
  padding:5px;
  font-size:20px;
  text-align:center;
  color:rgb(0, 0, 0);
  background: #F5F5F5;
  position:fixed;
  right:20px;
  opacity:1;
  z-index:99999;
  transition:all ease-in 0.2s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
  height: 40px;
  width: 40px;
}
a#cRetour:before{ content: "\25b2"; } 
/* \25b2 is the  Unicode number for triangle */
a#cRetour:hover{
  background:rgba(0, 0, 0, 1);
  transition:all ease-in 0.2s;
}
a#cRetour.cInvisible{
  bottom:-35px;
  opacity:0;
  transition:all ease-in 0.5s;
}

a#cRetour.cVisible{
  bottom: 20px;
  opacity:1;
}
